<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Půjčovna nářadí Proseč pod Ještědem</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="header group row">
            <div class="title col-12">
                <h1>Půjčovna nářadí Proseč pod Ještědem</h1>

            </div>
            <nav id="header-nav" class="">
                <a class="index current" href="index.html"> Půjčovna nářadí</a>
                <a class="co-delam" href="co-delam.html"> Podmínky</a>
                <a class="ukazky-prace" href="ukazky-prace.html"> Ukázky práce</a>
                <a class="kontakt" href="kontakt.html"> Kontakt</a>
            </nav>
        </div>
    </header>


    <main>

        <aside class="float-left">
            <div class="list-group">
                <a href="#" class="list-group-item">Vrtací a bourací kladiva</a>
                <a href="#" class="list-group-item">Řezání a ohýbání</a>
                <a href="#" class="list-group-item">Lešení a bednění</a>
                <a href="#" class="list-group-item">Ostatní</a>
            </div>

        </aside>
        <div class="float-right clanek">
            <article>
                @RenderBody()
            </article>
        </div>
        <div class="group"></div>

        

    </main>
    <footer>
        <div class="footer group">
            <div class="tel float-left">
                <p>Telefon:   <a href="tel:000000000"> 000 000 000</a></p>
                <p>E-mail:    <a href="mailto:lukas-moc@seznam.cz">lukas-moc@seznam.cz</a> </p>
            </div>
            <div class="footer-menu float-right">
                <nav id="footer-nav" class="">
                    <a class="index current" href="index.html"> Půjčovna nářadí</a>
                    <a class="co-delam" href="co-delam.html"> Podmínky</a>
                    <a class="ukazky-prace" href="ukazky-prace.html"> Ukázky práce</a>
                    <a class="kontakt" href="kontakt.html"> Kontakt</a>
                </nav>
            </div>
        </div>
    </footer>

</body>
</html>
